{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %} Parolni o'zgartirish {% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'dist/css/password_reset_done.css' %}">

<body>
<div class="message">
    <div class="message-header">
        <h2>{% blocktrans %} Parolni o'zgartirish uchun emailingizga link yuborildi {% endblocktrans %}</h2>
    </div>
    <div class="message-body">
        <h4>{% blocktrans %} Agar siz emailni qabul qilmagan bo'lsangiz qayta urunib ko'ring! {% endblocktrans %}</h4>
    </div>
</div>
</body>
{% endblock content %}