{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %} Parol o'zgardi {% endblocktrans %}
{% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'dist/css/password_reset_complete.css' %}">

<body>
<div class="message">
    <div class="message-header">
        <h2>{% blocktrans %} Parol muaffaqiyatli tiklandi! {% endblocktrans %}</h2>
    </div>
    <div class="message-body">
        <h4>{% blocktrans %} Sizning parolingiz qayta tiklandi. Endi qaytadan {% endblocktrans %}<a href="{% url 'login' %}"> <i>{% blocktrans %} Tizimga {% endblocktrans %}</i></a>{% blocktrans %} Kiring! {% endblocktrans %}</h4>
    </div>
</div>
</body>

{% endblock content %}