{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %} Parolni tiklash {% endblocktrans %}
{% endblock title %}

{% block content %}

  <link rel="stylesheet" href="{% static 'dist/css/password_reset_confirm.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/password_reset_complete.css' %}">
<body>
    {% if validlink %}
      {% if form.errors %}
        <div class="message">
    <div class="message-header">
        <h2>{% blocktrans %} Parolni tiklash formasi to'g'ri to'ldirilmadi! {% endblocktrans %}</h2>
    </div>
    <div class="message-body">
        <h4>‣{% blocktrans %} Parol sizning boshqa shaxsiy ma'lumotlaringizga juda o'xshash bo'lmasin! {% endblocktrans %}</h4>
        <h4>‣{% blocktrans %} Parolingiz kamida 8 ta belgidan iborat bo'lishi kerak! {% endblocktrans %}</h4>
        <h4>‣{% blocktrans %} Parol juda oddiy va keng tarqalgan bo'lmasligi kerak! {% endblocktrans %}</h4>
        <h4>‣{% blocktrans %} Parol faqat raqamlardan iborat bo'lishi mumkin emas! {% endblocktrans %}</h4>
    </div>
</div>
      {% endif %}
  <div class="container">
    <form method="post" class="password-confirmation-form"> {% csrf_token %}
      <h2>{% blocktrans %} Parolni o'zgartirish {% endblocktrans %}</h2>
      {{ form.as_p }}
      <button type="submit">{% blocktrans %} O'zgartirish {% endblocktrans %}</button>
    </form>
  </div>
    {% else %}
      <p>{% blocktrans %} Siz noto'g'ri linkdan foydalangansiz, u avvalroq foydalangan bo'lishi mumkin {% endblocktrans %}</p>
    {% endif %}
</body>

{% endblock content %}