{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %} Parolni-o'zgartirish-formasi {% endblocktrans %}
{% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'dist/css/password_change_form.css' %}">
<body>
<div class="container">
    <form method="post" class="password-change-form"> {% csrf_token %}
        <h2>{% blocktrans %} Parolni o'zgartirish {% endblocktrans %}</h2>
        {{ form.as_p }}
        <button class="button-7" role="button"><a href="{% url 'user_profile' %}">{% blocktrans %} Orqaga qaytish {% endblocktrans %}</a></button>
        <button class="button-7" role="button" type="submit" ><a>{% blocktrans %} Parolni Almashtirish {% endblocktrans %}</a></button>
    </form>
</div>
</body>

{% endblock content %}