{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %} Parolni tiklash {% endblocktrans %}
{% endblock title %}

{% block content %}


<body>
<link rel="stylesheet" href="{% static 'dist/css/password_reset_form.css' %}">
<div class="container">
    <form method="post" class="password-reset-form">{% csrf_token %}
        <h4>{% blocktrans %} Parolni tiklash uchun formani to'ldiring {% endblocktrans %}</h4>
        {{ form.as_p }}
        <button type="submit">{% blocktrans %} Parolni tiklash {% endblocktrans %}</button>
    </form>
</div>
</body>


{% endblock %}