{% extends 'news/base.html' %}
{% load static %}
{% block title %} Admin {% endblock title %}

{% block content %}

<h2>Admin Sahifasi</h2>
<h4>Barcha Adminlar</h4>
<table class="table">
    <tr>
        <th>Username</th>
        <th>Ismi</th>
        <th>Familyasi</th>
    </tr>
    {% for user in admin_users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
    </tr>
    {% endfor %}
</table>
<table class="table">
  <h4>Barcha foydalanuvchilar</h4>
     {% for u in users %}
    <tr>
        <td>{{ u.username }}</td>
        <td>{{ u.first_name }}</td>
        <td>{{ u.last_name }}</td>
    </tr>
    {% endfor %}
    </table>

{% endblock content %}